body {
    font-family: sans-serif;
    background-color: gainsboro;
}

body, html {
    height: 100%;
}
  
.parallax {
    background-image: url("profile.jpg");
    height: 70%; 
  
    /* parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 15px #888888;
    
}

.parallax2 {
  background-image: url("timp.jpg");
  height: 100%; 
  
    /* parallax effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#poem {
    
    margin-left: 40px;
    font-style: italic;
}


.page {
  width: 1000px;
  margin: 0 auto;
  text-align: left;
  box-shadow: 0px 0px 15px #888888;
}

.name {
  height:65px; 
  background-color: gainsboro; 
  font-size:50px; 
  text-align:center;
  box-shadow: 0px 0px 15px #888888;
}

.personalInfo {
  height:250px;
  background-color: gainsboro;
  font-size:25px;
  text-align:left;
  box-shadow: 0px 0px 15px #888888;
  padding-left:10px;
  padding-top:10px;
}

.books {
  height:250px;
  background-color:gainsboro;
  font-size:25px;box-shadow: 0px 0px 15px #888888;
  padding-left:10px;
  padding-top:10px;
}

.haiku {
  height:250px;
  background-color: gainsboro; 
  font-size:25px; 
  box-shadow: 0px 0px 15px #888888;
  padding-left:10px;
  padding-top:10px;
}

.interests {
  height:400px;
  background-color: gainsboro; 
  font-size:20px; 
  box-shadow: 0px 0px 15px #888888;
  padding-left:10px;
  padding-right:12px;
  padding-top:10px;
}


.schedule {
  text-align:center;
  height:450px;
  background-color: gainsboro; 
  font-size:30px; 
  box-shadow: 0px 0px 15px #888888;
  padding: 24px;
}

table {
  table-layout: fixed;
  align-self: center;
}

table.paleBlueRows {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #1C6EA4;
  width: 950px;
  height: 400px;
  text-align: center;
  border-collapse: collapse;
}

table.paleBlueRows td, table.paleBlueRows th {
  border: 1px solid #AAAAAA;
  padding: 3px 3px;
}
table.paleBlueRows tbody td {
  font-size: 12px;
}
table.paleBlueRows tr:nth-child(even) {
  background:lightblue;
}
table.paleBlueRows thead {
  background: #1C6EA4;
  border-bottom: 2px solid #444444;
}
table.paleBlueRows thead th {
  font-size: 15px;
  font-weight: bold;
  color: gainsboro;
  text-align: center;
  border-left: 0px solid #D0E4F5;
}
table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  border-top: 2px solid #444444;
}
table.paleBlueRows tfoot td {
  font-size: 14px;
}

.web {
  background-color: lightgoldenrodyellow;
}

.calculus {
  background-color: lightgreen;
}

.networks {
  background-color: lightpink;
}
.ethics {
  background-color:lavender;
}